# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*
!.env.example

# Virtual Environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
.DS_Store

# Project specific
static/labeled_images/
chroma_db/

chat_history.json
*.egg-info/
.pytest_cache/
.ruff_cache/
