# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Project specific
docs/
static/labeled_images/
chroma_db/
chat_history.json
data/
